*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100vw;
}
#container{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: linear-gradient(to right, #1e3c72, #2a5298);
}
h1{
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    filter: drop-shadow(2px 3px 0px black);
}
.display-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgb(0, 8, 14);
    border-radius: 10px;
    box-shadow: 0px 4px 1px #4534ff;
}
.display-container button{
    background-color: rgba(18, 100, 172, 0);
    border: none;
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.length-container{
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans", sans-serif;
}
#passwordDisplay{
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: rgba(22, 57, 87, 0);
    border-radius: 10px;
    color: white;
    width: 300px;
}
#copyimg{
    background-color: rgba(26, 47, 65, 0);
}
#strength-indicator{
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 1px 1px 30px rgba(128, 128, 128, 0.863);
}
.allcheckboxes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-container{
    background-color: #0000007a;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.521);
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 1.5rem;
    font-family: "Roboto", sans-serif;
}
.strength-container{
    display: flex;
    justify-content: space-between;
}
#checkbox{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#checkbox input{
    height: 18px;
    width: 18px;
}
#generateButton{
    height: 30px;
    width: 200px;
    background-color: rgb(48, 77, 110);
    box-shadow: 0px 2px 1px rgb(0, 28, 65);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    align-self: center;
    font-size: 1.07rem;
    padding: 0.3rem 0.5rem;
    border: none;
    transition: 0.2s ease 0s;
}
#generateButton:hover{
    background-color: rgb(42, 109, 187);
}
@media screen and (max-width:400px){
    h1{
        font-size: 1.5rem;
    }
    .input-container{
        width: 330px;
        height: 330px;
        padding: 1rem;
    }
    .display-container{
        gap: 0rem;
    }
    #checkbox label{
        font-size: 1.1rem;
    }
}